.telesale .call-list-content{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /*background: #00FF00;*/
}
.telesale .filter-calls{
    position:relative;
    width:100%;
    height: 10%;
    border-bottom: solid 1px #CECBCB;
    text-align: center;
}

.telesale .calls-lines{
    position:relative;
    width:100%;
    height: 90%;
    overflow: auto;
}

.telesale .filter-block{
    position:relative;
    width:33%;
    height: 100%;
    float:left;
    display:table;
    text-align: center;
}

.telesale .center-content label{
    font-size: 12px;
}

.telesale .calls-table{
    clear:both;
    margin-top: 0.2%;
    width: 99%;
    border: 1px solid #000;
    margin-left: 0.5%;
    font-size: 1.7vmin;
}
.telesale .calls-table th{
    border: 1px solid #000;
    height: 9%;
    background: #7f82ac;
    text-align: center;
    color:black;
}
.telesale .calls-table th.call-head-date{
    width: 10%;
}
.telesale .calls-table th.call-head-client{
    width: 15%;
}
.telesale .calls-table th.call-head-contact{
    width: 15%;
}
.telesale .calls-table th.call-head-phone{
    width: 10%
}
.telesale .calls-table th.call-head-comment{
    width: 15%
}
.telesale .calls-table th.call-head-duration{
    width: 5%;
}
.telesale .calls-table th.call-head-state{
    width: 10%;
}
.telesale .calls-table th.call-head-edit{
    width: 10%;
}
.telesale .calls-table th.call-head-do_call{
    width: 10%;
}
.telesale .calls-table td{
    border: 1px solid #000;
    height: 100%;
    font-size: 2vmin;
    text-align: center;
    vertical-align: middle;
}
.telesale .calls-table td.call-cell-date{
    width: 10%;
}
.telesale .calls-table td.call-cell-client{
    width: 15%;;
    text-align: left;
    padding-left: 0.5%;
}
.telesale .calls-table td.call-cell-contact{
    width: 15%;
    text-align: left;
    padding-left: 0.5%;
}
.telesale .calls-table td.call-cell-phone{
    width: 10%;
}
.telesale .calls-table td.call-cell-comment{
    width: 15%;
    text-align: left;
    padding-left: 0.5%;
}
.telesale .calls-table td.call-cell-duration{
    width: 5%;
}
.telesale .calls-table td.call-cell-state{
    width: 10%;
}
.telesale .calls-table td.call-cell-edit{
    width: 10%;
}
.telesale .calls-table td.call-cell-do_call{
    width: 10%;
}


.telesale .phonecall-pop-up{
    position: absolute;
    right:1%;
    top:25%;
    /*width:20%;*/
    height:40%;
    padding:2vmin;
    text-align:center;
    font-size:2vmin;
    font-weight:bold;
    background-color: #B1B1B1;
    border-radius: 40px;
    box-shadow: 0px -1px white, 0px 1px white, 0px 4px #949494, 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.telesale .quarterheight{
    height: 25%;
}

.telesale .phonecall-pop-up button{
    width: 100%;
    padding: 0px;
    font-size: 2vmin;
}

.telesale .phonecall-pop-up .popup-block{
    position:relative;
    width: 100%;
    height: 25%;
    display:table;
}

.telesale .phonecall-pop-up .buttons-block{
    position:relative;
    width: 50%;
    height: 100%;
    float: left;
    display:table;
}

.telesale .call-list-content button {
    color: black;
    vertical-align: middle;
    margin-right:0px;
    border: 1px solid #353A7E;
    background: #7f82ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b3d7), to(#7f82ac));
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background:  -ms-linear-gradient(#b2b3d7, #7f82ac);
    background:      linear-gradient(#b2b3d7, #7f82ac);
    font-size: 1.7vmin;
}
